<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
{% for su in users %}
    <label>username:</label>
    <label>{{ su.username}}</label>
    <br>
    <label>password:</label>
    <label>{{ su.password}}</label>
    <br><br><br>
{% endfor %}

{#<form method="post">#}
{#    {% csrf_token %}#}
{#    <label>username:</label>#}
{#    <input type="text">#}
{#    <br>#}
{#    <label>password:</label>#}
{#    <input type="text">#}
{#    <button type="submit">Login</button>#}
{#</form>#}
{#<ul>#}
{#{% for index in value %}#}
{#    <li>{{ index }}</li>#}
{#{% endfor %}#}
{#</ul>#}
</body>
</html>